.DS_Store
velocity.log
velocity.log.1
.classpath
.project
.settings
.idea
idea
code_cache
target
test-output
src/test/resources/postman/test_output
doc
logs
solrBackupTestFolder
jmeter.log
.mvn
*.iml
stat.txt
*.wiki

